<!DOCTYPE html>
<html lang="en">
   <head profile="http://www.w3.org/2005/10/profile">
      <link rel="icon" type="image/ico" href="/static/images/sketchfab-favicon.ico" />

      <title>Sketchfab for Confluence - Documentation</title>

      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui.js"></script>
   </head>
   <body>
      <header id="header" role="banner">
         <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-primary">
               <h1 id="logo" class="aui-header-logo aui-header-logo-custom"><a href="/"><span class="aui-header-logo-text">Sketchfab for Confluence</span></a></h1>
               <ul class="aui-nav">
                  <!-- You can also use a split button in this location, if more than one primary action is required. -->
                  <li><a class="aui-button aui-button-primary" href="https://marketplace.atlassian.com/plugins/com.atlassian.confluence.sketchfab-connect">Install plugin</a></li>
               </ul>
            </div>
         </nav>
      </header>

      <div class="aui-page-panel">
         <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
               <nav class="aui-navgroup aui-navgroup-vertical">
                  <div class="aui-navgroup-inner">
                     <ul class="aui-nav">
                        <li><a href="/docs/home">Welcome</a></li>
                     </ul>
                     <div class="aui-nav-heading"><strong>More</strong></div>
                     <ul class="aui-nav">
                        <li><a href="/docs/about">About</a></li>
                        <li><a href="https://bitbucket.org/robertmassaioli/sketchfab-connect/issues/new">Report a bug</a></li>
                     </ul>
                  </div>
               </nav>
            </div>

            <section id="page-html-content" class="aui-page-panel-content">
               <%= document %>
            </section>
         </div>
      </div>

      <footer id="footer" role="contentinfo">
         <section class="footer-body">
            <ul>
               <li><a target="_blank" href="https://developer.atlassian.com/static/connect/docs/latest/index.html">Atlassian Connect</a></li>
               <li><a target="_blank" href="/atlassian-connect.json">Add-on descriptor</a></li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
         </section>
      </footer>
   </body>
</html>
